---
title: Felipe Roa
---
.gral{ :'ng-controller' => 'gralCtrl' }

	= partial 'partial/navbar'
	= partial 'partial/header'
	= partial 'partial/about'
	= partial 'partial/news'
	= partial 'partial/work'
	= partial 'partial/instagram'
	= partial 'partial/contact'